@font-face {
    font-family: 'ubuntu-v15-300';
    src: url('../fonts/ubuntu-v15-latin-ext_latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-300-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'museo-slab-1';
    src: url('../fonts/museo-slab-500-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
